= form_with(model: [:admin, talkroom]) do |form|
  - if talkroom.errors.any?
    #error_explanation
      %h2= "#{pluralize(talkroom.errors.count, "error")} prohibited this talkroom from being saved:"
      %ul
        - talkroom.errors.full_messages.each do |message|
          %li= message
  
  .row.mb-3
    .col-md-3.col-form-label.fw-bold name
    .col-md-9= form.text_field :name, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold group
    .col-md-9= form.collection_select :group_id, Group.all, :id, :name, {}, { class: "form-control" }
  .row
    .col
      = form.submit '保存', class: 'btn btn-primary d-block w-100'
