%h1 Talkroom一覧
%table.table
  %thead.thead-light
    %tr
      %th Name
      %th Group
      %th

  %tbody
    %tr
      %td{colspan: 3}= link_to 'Talkroom新規作成', new_admin_talkroom_path, class: 'btn btn-primary w-100'
    - @talkrooms.each do |talkroom|
      %tr
        %td= talkroom.name
        %td= talkroom.group_id
        %td
          = link_to '閲覧', admin_talkroom_path(talkroom), class: 'btn btn-sm btn-outline-primary'
          = link_to '編集', edit_admin_talkroom_path(talkroom), class: 'btn btn-sm btn-outline-primary'
          = link_to '削除', admin_talkroom_path(talkroom), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-sm btn-outline-danger'
