= form_with(model: [:admin, talk_entry]) do |form|
  - if talk_entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(talk_entry.errors.count, "error")} prohibited this talk_entry from being saved:"
      %ul
        - talk_entry.errors.full_messages.each do |message|
          %li= message
  
  .row.mb-3
    .col-md-3.col-form-label.fw-bold talkroom
    .col-md-9= form.collection_select :talkroom_id, Talkroom.all, :id, :name, {}, { class: "form-control" }
  .row.mb-3
    .col-md-3.col-form-label.fw-bold user
    .col-md-9= form.collection_select :user_id, User.all, :id, :email, {}, { class: "form-control" }
  .row.mb-3
    .col-md-3.col-form-label.fw-bold role
    .col-md-9= form.select :role, TalkEntry.roles.keys, {}, class: 'form-control'
  .row
    .col
      = form.submit '保存', class: 'btn btn-primary d-block w-100'
