= form_with(model: [:admin, joining]) do |form|
  - if joining.errors.any?
    #error_explanation
      %h2= "#{pluralize(joining.errors.count, "error")} prohibited this joining from being saved:"
      %ul
        - joining.errors.full_messages.each do |message|
          %li= message
  
  .row.mb-3
    .col-md-3.col-form-label.fw-bold group
    .col-md-9= form.collection_select :group_id, Group.all, :id, :name, {}, { class: 'form-control' }
  .row.mb-3
    .col-md-3.col-form-label.fw-bold user
    .col-md-9= form.collection_select :user_id, User.all, :id, :email, {}, { class: 'form-control' }
  .row.mb-3
    .col-md-3.col-form-label.fw-bold role
    .col-md-9= form.select :role, Joining.roles.keys, {}, class: 'form-control'
  .row
    .col
      = form.submit '保存', class: 'btn btn-primary d-block w-100'
