%h1 Joining一覧
%table.table
  %thead.thead-light
    %tr
      %th Group
      %th User
      %th Role
      %th

  %tbody
    %tr
      %td{colspan: 4}= link_to 'Joining新規作成', new_admin_joining_path, class: 'btn btn-primary w-100'
    - @joinings.each do |joining|
      %tr
        %td= joining.group.name
        %td= joining.user.email
        %td= joining.role
        %td
          = link_to '閲覧', admin_joining_path(joining), class: 'btn btn-sm btn-outline-primary'
          = link_to '編集', edit_admin_joining_path(joining), class: 'btn btn-sm btn-outline-primary'
          = link_to '削除', admin_joining_path(joining), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-sm btn-outline-danger'
