%h1 ユーザー一覧
%table.table
  %thead.thead-light
    %tr
      %th メールアドレス
      %th 名前
      %th 性別
      %th 生年月日
      %th 学校
      %th Kind
      %th 全体公開プロフィール
      %th 全体公開アイコン
      %th

  %tbody
    %tr
      %td{colspan: 4}= link_to 'ユーザー新規作成', new_admin_user_path, class: 'btn btn-primary w-100'
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td= user.gender
        %td= user.birth_date
        %td= user.school
        %td= user.kind
        %td= user.global_profile
        %td= user.global_icon
        %td
          = link_to '閲覧', admin_user_path(user), class: 'btn btn-sm btn-outline-primary'
          = link_to '編集', edit_admin_user_path(user), class: 'btn btn-sm btn-outline-primary'
          = link_to '削除', admin_user_path(user), method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: '本当に削除してよろしいですか？' }
